<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> youngseo test3 </h1>
    <div>
      hi~~~~~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!1
    </div>
    <span>
      spanspan
    </span>
    <h1>
      gkfkfgjkds
    </h1>
  </body>
</html>
