<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
    <h1>어려우어어어어</h1>
  <div>12345</div>
  </body>
</html>
