<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> jieun test1 </h1>
    <h2>jieun test2 </h2>
    <h2>jieun test3 </h2>
  </body>
</html>
