<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> jieun test4 </h1>
    <h2>jieun test5 </h2>
  </body>
</html>
